@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Navbar Desktop-Mode */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: #fdba00 #572a07;
    scrollbar-width: thin;

}
::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-track{
    background-color: #572a07;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #fdba00;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: #c79303;
  }
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    backdrop-filter: blur(40px);
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    border: 5px solid transparent;
    border-top-color: white;
    border-bottom-color: rgb(255, 221, 2);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: transparent;
    background-color: #56004e;
    background-image: linear-gradient(135deg, #56004e 0%, #571e1b 100%);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
}
nav .logo{
    font-size: 40px;
    cursor: pointer;
}
nav .logo span{
    font-family: 'Pacifico', cursive;
    letter-spacing: 9px;
    /* font-style: italic; */
    color: rgb(253, 186, 0);

}
nav ul{
    display: flex;
    width: 700px;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    font-size: 20px;
    transition: all 0.3s;
    cursor:pointer;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    border-radius: 90% 10% 90% 10% / 18% 10% 25% 12% ;
    
}
nav ul li:hover{
    color: rgb(96, 6, 96);
    background-color: rgb(253, 186, 0);
    box-shadow: rgba(0,0,0,0.234) 10px 10px;
}
aside{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    backdrop-filter: blur(10px);
    width: 100vw;
    color: white;
    display: flex;
    padding: 50px 0px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transition: ease-in-out 0.2s;

}
aside .slide-icon{
    height: 100px;
    width: 150px;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    overflow: hidden;
}
.close{
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.hamburger{
    width: 40px;
    height: 25px;
    /* background-color: red; */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}
.hamburger .one, .hamburger .two, .hamburger .three{
    height: 4px;
    background-color: white;
    border-radius: 10px;
}
.hamburger .one{
    width: 100%;
}
.hamburger .two{
    width: 75%;
}
.hamburger .three{
    width: 50%;
}
/* Header Section */
header{
    background-color: #56004e;
    background-image: linear-gradient(135deg, #56004e 0%, #572a06 100%);
    height:100vh;
    width: 100%;
    padding-top: 100px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 0px 30px;

}
header .header-text{
    flex: 1;
    color: white;
    margin-top: 120px;
}
.header-text h1{
    font-size: 70px;
}
.header-text p{
    font-size: 25px;
    margin-top: 20px;
    line-height: 35px;
}
header .header-img{
    flex: 1;
    z-index: 1;
}
.header-img img{
    width: 100%;
}

.cloths-section{
    background-color: rgb(240, 176, 0);
    height: 80vh;
    position: relative;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.section-header{
    color: transparent;
	font-size: 90px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    position: absolute;
    top: -55px;
    z-index: 4;
    text-transform: uppercase;
}
.cloths-section .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    /* background: #000; */
    padding: 45px 0px;
}
.cards .card-container{
    flex:1;
}
.cards .text{
    flex:2;
    z-index: 10;
    color: white;
    font-size: 35px;
}
.cloths-section .cards .card{
    background-color: rgb(229, 229, 229);
    z-index: 3;
    transition: all 0.2s;
}
.cloths-section .cards .card:hover img{
    transform: scale(1.02);
}
.cloths-section .cards .card img{
    width: 100%;
    object-fit: center;
    transition: all 0.3s;
    /* border-radius: 83% 17% 95% 5% / 12% 87% 13% 88% ; */
}
.cloths-section .clothes-text{
    font-size: 30px;
}

/* Swiper */
.swiper {
    width: 300px;
  height: 380px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

/* Story Section  */
.story{
    height: fit-content;
    position: relative;
    background-color: #571727;
    padding: 0px 30px;
}
.story .text{
    font-size: 30px;
    padding: 80px 0px;
    color: white;

}
.story img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    top: 10rem;
    z-index: 3;
}
.process-section{
    position: relative;
    height: 40vh;
    background: #e9ab00;
    padding: 0px 30px;
}
.process-section .text{
    font-size: 30px;
    color: white;
    padding: 80px 0px;
    z-index: 6;
    position: absolute;
}
.contact-section{
    padding:30px;
    position: relative;
    background-color: #56004e;
    background-image: linear-gradient(225deg, #572a06 0%, #56004e 100%);


}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0px;
}
.section-text{
    flex: 0.9;
    padding-left: 20px;
}
.section-text h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.section-text p{
    color: white;
    font-size: 25px;
}
.section-form{
    flex: 1;
}
.section-form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.section-text .icons{
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 100px;
    flex-wrap: wrap;
    gap: 10px;
    cursor: pointer;
    margin-top: 30px;
}
.form-flex{
    display: flex;
    justify-content: space-between;
}
.form-flex input{
    flex: 1;
}
input, textarea{
    height: 40px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #ffffffb8;
    transition: all 0.3s;
}
input::placeholder, textarea::placeholder{
    text-transform: capitalize;
}
input:focus{
    border-radius: 22% 23% 16% 40% / 10% 15% 10% 10% ;
}
textarea:focus{
    border-radius: 22% 23% 15% 16% / 0% 26% 15% 10% ;
}
textarea{
    height: 200px;
}
form button{
    width: 40%;
    margin: auto;
    text-transform: uppercase;
    font-size: 25px;
    border: 0px;
    height: 50px;
    border-radius:12% 21% 31% 17% / 15% 20% 38% 18% ;
    transition: 0.3s all;
    background-color: #e9ab00;
    color: #fff;    
}
form button:hover{
    border-radius: 3px;
}
footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #56004e;
    background-image: linear-gradient(225deg, #572a06 0%, #56004e 100%);    
    font-size: 18px;
}
a{
    color: white !important;
    text-decoration: none;
}
/* Responsiveness for Navbar */
@media only screen and (max-width: 900px) {   
    nav .logo{
        font-size: 25px;
    } 
    .hamburger{
        display: flex;
    }
    nav ul{
        display: none;
    }
    /* nav span{
        display: block;
    } */
}
@media only screen and (min-width: 760px) and (max-width: 900px){
    header{
        height: fit-content;
    }
    .header-img {
        display: flex;
        align-items: center;
    }
    .header-img img{
        width: 60%;
        margin: 0px auto !important;
    }
    .process-section{
        position: relative;
        height: 40vh !important;
        background: #e9ab00;
        padding: 0px 30px;
    }
    .process-section .text{
        font-size: 30px;
        color: white;
        padding: 80px 0px;
    }
}
@media only screen and (max-width: 900px) {
    header{
        display: grid;
        /* flex-wrap: wrap ; */
    }   
    header .header-text{
        margin-top: 0px;
    }
    .header-text h1{
        font-size: 50px;
    }
}
@media only screen and (max-width: 430px) {
    .story img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        top: 33rem;
    }
    .section-text{
        padding-top: 10px;
    }
}
@media only screen and (min-width: 430px) and (max-width: 900px) {
    .story img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        top: 15rem;
    }
    .section-text{
        padding-left: 0px;
    }
}
@media only screen and (max-width: 430px) {
    .process-section{
        height: fit-content;
    }
    .process-section .text{
        position: relative;
    }
    .container{
        flex-direction: column;
    }

    .section-form form .form-flex{
        flex-direction: column;
        gap: 20px;
    }

    input{
        padding: 0px 5px;
        flex: 1;
        height: 50px;
    }
    textarea{
        margin: 0% !important;
    }
    form button{
        width: 70%;
        margin-right: auto !important;
    }
}
@media only screen and (min-width: 430px) and (max-width: 900px) {
    .process-section{
        height: 32vh;
    }
}

@media only screen and (max-width: 430px) {
    .cloths-section {
        height: fit-content;

    }
    .section-header{
        font-size: 50px;
        top: -30px;
    }
    .cloths-section .cards{
        flex-direction: column;
        overflow-x: hidden;
    }
    .cloths-section .cards .text{
        font-size: 25px;
        margin-top: 30px;
    }
    /* .section-text{
        display: none;
    } */
}
@media only screen and (min-width: 421px) and (max-width: 900px) {
    .cloths-section {
        height: fit-content;

    }
    .section-header{
        font-size: 50px;
        top: -30px;
    }
    .cloths-section .cards{
        overflow-x: hidden;
    }
    .cloths-section .cards .text{
        font-size: 30px;
        margin-top: 30px;
        margin-left: 50px;
    }
    .container{
        flex-direction: column;
    }
}